name: Deploy Cloud Run

on:
  push:
    branches: [ "main" ]

env:
  PROJECT_ID: poc-genai-chatbot
  REGION: us-central1
  SERVICE_NAME: primis-digital-bot
  IMAGE_NAME: us-central1-docker.pkg.dev/poc-genai-chatbot/cloud-run-source-deploy/primis-digital-bot

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Auth GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Docker auth
      run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

    - name: Build image
      run: docker build -t $IMAGE_NAME:$GITHUB_SHA .

    - name: Push image
      run: docker push $IMAGE_NAME:$GITHUB_SHA

    - name: Deploy
      run: |
        gcloud run deploy $SERVICE_NAME \
          --image $IMAGE_NAME:$GITHUB_SHA \
          --region $REGION \
          --platform managed \
          --allow-unauthenticated \
          --port 8080
